
<div class="container">
	<div>
		<h1>Welcome Back <%=current_user.first_name%></h1>
	</div>

	<div>
		<h4>What pokemon are you today?</h4>
	</div>

	<!-- Every 24 hours you get to spawn a pokemon and add it to your deck -->
	<!-- Everyday you get to pull the lottery to get coins -->
	<!-- Leave someone a love note to make coins -->


	<!-- Start to feed your pokemon -->
	<!-- When your pokemon grows to a reasonable size you can mate it-->
	<!-- Searches for other same species and opposite gender pokemon to mate -->
	<!-- If you pay more money you get to mate your pokemon with another pokemon of the same sex -->
	


</div>


