
<div class="container full-height">
	<div>
		<h1>Welcome Back <%=current_user.first_name%></h1>
	</div>

	<div>
		<!-- Randomly generates a number and gives you a pokemon -->
		<div data-role="page" id="pokeSearch-page">
		    <div data-role="header" data-theme="b">
		         <h4>Buy a Pokemon today!</h4>
		         <h6>15 coins/pokemon</h6>
		    </div>
		    <div data-role="main" class="ui-content">
			    <form id="pokeForm" action="#pokeDetails-page" method="post">
			        <div>
			        	 <button type="button" onclick="pokeSubmit()" class="btn btn-primary">Good Luck :) </button><br/>
			        </div>
			    </form>
		    <div>
		    <ul data-role="listview" data-inset="true" id="pokeDetails">
		    </ul>
		    </div>
		    </div>
		</div>
	</div>
</div>

<script type="text/javascript">

	function pokeSubmit(){

	var param = Math.floor(Math.random() * 100)
    // var param = document.getElementById("pokeInput").value;
    var pokeURL = "https://pokeapi.co/api/v2/pokemon/" + param+"/";
    console.log(param)
    console.log(pokeURL)

    // jQuery method to make a http get request, sends the http url and function.
    $.getJSON(pokeURL, function(data){
    	// Pokeapi responds with JSON data
        console.log(data);
        // Converts JSON into formatted string
        // console.log(JSON.stringify(data, null, "  "));

        // different formats of getting the data out
        // console.log(data.name)
        // console.log(data.id)
        // console.log(data.height + "m")
       	// console.log(data.weight + "kg")
       	// console.log(data.moves[0].move.name)
       	var random = Math.floor(Math.random() * data.moves.length)
       	// console.log("random number =" + random)
       	// console.log(data.moves[random].move.name)
        // console.log(data.held_items[0].version_details[0].rarity)

        // Get only what i need and store it
        var pokemon = [{ name: data.name, national_id: data.id, height: data.height, weight: data.weight,
        rarity: data.held_items[0].version_details[0].rarity, moves: data.moves[random].move.name}];

        console.log(pokemon)

        // Convert info into a json
        var pokemon_json =JSON.stringify(pokemon);

		 // Passing json response to rails controller
        $.post("/pokemons", { jsonData: pokemon_json },
		function(data, textStatus) {
		if (textStatus != "success") {
		result = "false";
		}
		});

    });
}
            
</script>


